.md-grid {
  max-width: none;
}

.md-main__inner {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.mdi-wrap {
  max-width: 100%;
}

.md-sidebar--primary {
  display: none !important;
}

.md-sidebar--secondary {
  display: none !important;
}

.md-content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none !important;
}

.md-content__inner {
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 76.234375em) {
  .md-main__inner {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
